html {
  font-size: 44px;
  
  --phone-black-bg: #000;
  --phone-black-text: #f2f2f2;
  
  --phone-white-bg: #fff;
  --phone-white-text: #8b8b99;
  --phone-white-text-highlight: #1d1d1f;
  
  --phone-green-bg: #263a2c;
  --phone-green-text: #aae6b5;
  --phone-green-text-highlight: #fff;
  
  --phone-width: 460px;
  --phone-offscreen: -720px;
}

body {
  margin: 0;
  height: calc(300vh);
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

.sticky-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sticky-container .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.sticky-container .phone h3 {
  font-size: 1rem;
  margin: 0 0 60px 0;
  width: var(--iphone-width);
}

.sticky-container .phone img {
  display: block;
  width: var(--iphone-width);
  margin-bottom: var(--phone-offscreen);
}

.sticky-container .phone.black {
  background-color: var(--phone-black-bg);
  z-index: 10;
}

.sticky-container .phone.black h3 {
  color: var(--phone-black-text);
}

.sticky-container .phone.white {
  background-color: var(--phone-white-bg);
  z-index: 20;
  
  clip-path: inset(100% 0px 0px 0px);
}

.sticky-container .phone.white h3 {
  color: var(--phone-white-text);
}

.sticky-container .iphone.white h3 span {
  color: var(--phone-white-text-highlight);
}

.sticky-container .phone.green {
  background-color: var(--phone-green-bg);
  z-index: 30;
  
  clip-path: inset(100% 0px 0px 0px);
}

.sticky-container .iphone.green h3 {
  color: var(--phone-red-text);
}

.sticky-container .iphone.green h3 span {
  color: var(--phone-red-text-highlight);
}

.sticky-container.no-sticky {
  position: relative;
  overflow: visible;
}

.sticky-container.no-sticky .phone {
  position: relative;
}

.sticky-container.no-sticky .iphone.red {
  padding-bottom: calc(var(--iphone-offscreen) * -1);
}

button {
  background-color: #4758ca; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  border-radius: 20px;
}
