h3 {
  font-size: 45px;
  background-color: #ffffff;
}

p {
  font-size: 14px;
  background-color: #cfcfcf;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: #4758ca; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  border-radius: 20px;
}
