html {
  font-size: 45px;
}

body {
  margin: 0;
  height: calc(300vh);
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

button {
  background-color: #4758ca; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  border-radius: 20px;
}
